name: Film JSON Generator

on:
  schedule:
    - cron: "0 */6 * * *"   # 6 saatte bir
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Python kur
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Gerekli paketleri kur
        run: |
          pip install requests bs4

      - name: Film toplama scripti çalıştır
        run: python film.py

      - name: Commit & Push
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add film.json
          git commit -m "Film listesi güncellendi $(date)" || echo "No changes"
          git push
