name: HDCH Scraper

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */12 * * *"   # 12 saatte bir çalışır

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Python dependencies
        run: |
          pip install playwright
          pip install beautifulsoup4 lxml
          playwright install --with-deps chromium

      - name: Run scraper
        run: python hdch.py

      - name: Upload artifact (JSON)
        uses: actions/upload-artifact@v4
        with:
          name: hdceh
          path: hdceh.json
