name: MonoTV Guncelle

on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  run_script:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Depoyu Cek
        uses: actions/checkout@v4

      - name: Python Kur
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Kutuphaneyi Kur
        run: pip install httpx

      - name: Scripti Calistir
        run: python mono.py

      - name: Degisiklikleri Kaydet
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add mono.m3u
          git commit -m "Liste guncellendi" || exit 0
          git push
